
<div class="container" *ngIf="showNavbar">
<nav>
  <a routerLink="/dashboard/profile">{{'Profile'| translate}}</a> |
  <a routerLink="/dashboard/users">{{'Users' | translate}}</a> |
  <a routerLink="/dashboard/ship-da/customers">{{'Customers' | translate}}</a>   |
  <a routerLink="/login" (click)="Logout()">{{'Logout' | translate}}</a>
</nav>
<select (change)="switchLang(getLang($event))">
  <option value="en">English</option>
  <option value="fr">French</option>
</select>
<!-- <button (click)="toggleTheme()">Toggole Theme</button> -->
 <mat-slide-toggle
  (change)="toggleTheme()"
  >
  Dark Mode
</mat-slide-toggle>
</div>
<router-outlet class="router-view"></router-outlet>
