<p>register works!</p>
<div>
    <form [formGroup]="registerForm" (ngSubmit)="registerUser()">
        <div>
            <div class="form-row">
                <mat-form-field appearance="outline" class="full-width field-spacing">
                    <mat-label>Username</mat-label>
                    <input matInput type="email" formControlName="username" placeholder="Enter valid email address"/>
                    <mat-error *ngIf="registerForm.get('username')?.hasError('required')">
                        Username required
                    </mat-error>
                    <mat-error *ngIf="registerForm.get('username')?.hasError('email')">
                     invalid username (eg:abcd@gmail.com)
                    </mat-error>
                </mat-form-field>
                <br>   
            <mat-form-field appearance="outline" class="full-width field-spacing">
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password" placeholder="Enter Password"/>
                <mat-error *ngIf="registerForm.get('password')?.hasError('required')">
                    Password required
                </mat-error>
                <mat-error *ngIf="registerForm.get('password')?.hasError('pattern')">
                    Password should contain 1 uppercase,1 lowwecase and min 6 characters
                </mat-error>
            </mat-form-field>
            <br>
            </div>
            <div class="form-row">
            <mat-form-field appearance="outline" class="full-width field-spacing">
                <mat-label>Address1</mat-label>
                <input matInput type="address" formControlName="address" placeholder="Enter your address"/>
                <mat-error *ngIf="registerForm.get('address')?.hasError('required')">
                    Address1 required
                </mat-error>
                <mat-error *ngIf="registerForm.get('address')?.hasError('minlength')">
                    Address1 should contain min 6 characters
                </mat-error>
            </mat-form-field><br>
            <mat-form-field appearance="outline" class="full-width field-spacing">
              <mat-label>Country</mat-label>
                <mat-select formControlName="country">
                    <mat-option value="india">India</mat-option>
                    <mat-option value="US">US</mat-option>
                    <mat-option value="russia">Russia</mat-option>
                </mat-select>
                <mat-error *ngIf="registerForm.get('country')?.hasError('required')">
                    Country required
                </mat-error>
           </mat-form-field><br>
           </div>
           <div class="form-row">
           <mat-form-field appearance="outline" class="full-width field-spacing">
            <mat-label>Website</mat-label>
            <input matInput type="url" formControlName="website" placeholder="https:://www.example.com"/>
            <mat-error *ngIf="registerForm.get('website')?.hasError('pattern')">
                Inavlid Url format
            </mat-error>
           </mat-form-field><br>
           <mat-form-field appearance="outline" class="full-width field-spacing">
            <mat-label>LinkedIn</mat-label>
            <input matInput type="url" formControlName="linkedIn" placeholder="https:://www.LinkedIn.com"/>
             <mat-error *ngIf="registerForm.get('linkedIn')?.hasError('pattern')">
                Inavlid Url format
            </mat-error>
           </mat-form-field>
           </div>
        </div>
        <button matTooltip="Register" mat-raised-button color="primary" [disabled]="registerForm.invalid" type="submit">Register</button>
    </form>
</div>
